.header{
    display:flex;
    justify-content: center;
}

.login-form__box{
    position:relative;
    margin:10px 0;
}
.login-form__input{
    background:transparent;
    border:none;
    border-bottom: solid 1px #ccc;
    padding:20px 0px 5px 0px;
    font-size:14pt;
    width:100%;
}
.login-form__input::placeholder{
    color:transparent;
}
.login-form__input:placeholder-shown + .login-form__label{
    color:#aaa;
    font-size:14pt;
    top:15px;

}
.login-form__input:focus + .login-form__label, .login-form__label{
    color:#8aa1a1;
    font-size:10pt;
    pointer-events: none;
    position: absolute;
    left:0px;
    top:0px;
    transition: all 0.2s ease ;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.login-form__input:focus, .login-form__input:not(:placeholder-shown){
    border-bottom: solid 1px #8aa1a1;
    outline:none;
}
.login-btn{
    background-color: #8aa1a1;
    border:none;
    color:white;
    border-radius: 5px;
    box-sizing: border-box;
    width:100%;
    height:35px;
    font-size: 14pt;
    margin-top:100px;


}
#forgot{
    text-align: right;
    font-size:12pt;
    color:rgb(164, 164, 164);
    margin:10px 0px;
}
#forgot-account{
    display: flex;
    justify-content: end;
    color:rgb(87, 87, 87);
}
/* .login-form{
    padding:10px;
} */
