.main{
    padding:10px;
    display:flex;
    flex-direction: column;
}
.profile{
    width:100%;
    height:150px;
    border-radius:5px;
    box-sizing: border-box;
    background-color:#8AA1A1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    &__info{
        display:flex;
        padding:10px;
    }
    &__modified{
        border:1px solid white;
        width:100%;
        padding: 5px;
        border-radius: 5px;
        color:white;
        cursor: pointer;
        text-align: center;
    }
    
    &__img-container{
        --ImgSize : 80px;
        width:var(--ImgSize);
        height:var(--ImgSize);
        overflow:hidden;
        border-radius:50%;
        color:white;
        &+div{ // ProfileInfo
            margin-left:10px;
            box-sizing:border-box;
        }

    }
    &__img{
        --ImgSize : 80px;
        width:var(--ImgSize);
        height:var(--ImgSize);
        object-fit:cover;
    }
    &__text{
        color:white;
    }
}

.fishtank{
    display:flex;
    flex-direction: column;
    margin-top:10px;
    &__my-fishtank{
        border : 1px solid #aaa;
        margin: 10px 0;
        border-radius: 5px;
        width:100%;
        height:200px;
        overflow: hidden;
    }
    &__my-thumb{
        width: 100%;
        height:150px;
        object-fit: cover;
    }
    &__my-thumb-container{
        width:100%;
        height:150px;
        overflow: hidden;
        position:relative;
    }
    &__my-tank-info{
        display: flex;
        width:100%;
        height:50px;
        align-items: center;
        padding:0 10px;
    }
    &__my-tank-title{
        width:100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__my-tank-icon{
        width:50px;
        height:50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__lock{
        position:absolute;
        width:30px;
        height:30px;
        margin:5px;
        right:0px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color:white;
    }
}