.category {
  &__select {
    margin: 10px 0px;
  }

  &__left {
    display: flex;
    flex-basis: 15%;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  }
  &__table {
    th {
      text-align: center;
    }
    td {
      text-align: center;
      & > img {
        margin: 0 auto;
      }
    }
  }
}

.dictionary__wrapper {
  padding: 50px;
}
