.category {
    &__select {
        margin: 10px 0px;
    }

    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    }
    &__table {
        th {
            text-align: center;
        }
        td {
            text-align: center;
            & > img {
                margin: 0 auto;
            }
        }
    }
}
